[Unit]
Description=Run Ansible sync after reboot
After=network-online.target default.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ local_user }}
ExecStart=/usr/bin/ansible-playbook -i inventory.ini playbook.yml
WorkingDirectory=/home/{{ local_user }}/projects/homelab
Environment="ANSIBLE_NOCOWS=1"
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
