---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services/

- Homepage:
    - Homepage:
        href: http://homelab.local:8083/
        description: Homepage
        container: homepage

- Network:
    - Pi-hole:
        href: http://homelab.local:8082/admin
        description: DNS Ad-blocker
        container: pihole
        widget:
          type: pihole
          url: http://host.containers.internal:8082
          version: 6
          key: {{ lookup('community.general.bitwarden_secrets_manager', 'db69badc-2212-4e04-ba31-b3dd0117900b').value }}

    - Cloudflared:
        description: Cloudflared
        container: cloudflared
        widget:
          type: cloudflared
          accountid: fa1cbc83b2392742c6fc3e4173760dc6
          tunnelid: f42e184e-9e27-4395-8f83-c2c55ee17e53
          key: {{ lookup('community.general.bitwarden_secrets_manager', 'd57a2a41-adec-40d0-8682-b3dd01425bb7').value }}

    - Traefik:
        href: http://homelab.local:8080
        description: Reverse Proxy
        container: traefik
        widget:
          type: traefik
          url: http://host.containers.internal:8080

    - Dozzle:
        href: http://homelab.local:8081
        description: Container Logs
        container: dozzle

    - Registry:
        description: Container Registry
        container: registry

- Media:
    - Jellyfin:
        href: http://homelab.local:8096/
        description: Media Server
        container: jellyfin

- Home Assistant:
    - Home Assistant:
        href: http://homelab.local:8123/
        description: Home Automation
        container: homeassistant

- WebApps:
    - Tosh.io:
        href: https://tosh.io
        description: Tosh.io
        container: tosh_io

    - Price History:
        href: https://price-history.tosh.io
        description: Price History
        container: price_history

    - YNAB View:
        href: https://ynab-view.tosh.io
        description: YNAB View
        container: ynab_view

    - Bingo:
        href: https://bingo.tosh.io
        description: Bingo
        container: bingo

    - Household Chores:
        href: https://household-chores.tosh.io
        description: Household Chores
        container: household-chores
