RAILS_ENV=production
SECRET_KEY_BASE={{ lookup('community.general.bitwarden_secrets_manager', 'b482bc0e-7e96-46ef-adfb-b3dd01178e46').value }}
RAILS_MASTER_KEY={{ lookup('community.general.bitwarden_secrets_manager', 'dde0470d-47fd-4a40-a8db-b3dd01178e8c').value }}
THRUST_HTTP_PORT=3001
