RAILS_ENV=production
RAILS_MASTER_KEY={{ lookup('community.general.bitwarden_secrets_manager', '38c7bace-92b8-452e-9e03-b3dd0117909d').value }}
DEEPSEEK_API_KEY={{ lookup('community.general.bitwarden_secrets_manager', 'c48d969a-9ae5-4149-99d7-b3dd011790cf').value }}
POSTMARK_SERVER_API_TOKEN={{ lookup('community.general.bitwarden_secrets_manager', '1735b070-e246-4edd-9a61-b3dd011790fb').value }}
VERYFI_CLIENT_ID={{ lookup('community.general.bitwarden_secrets_manager', '74a2a260-0a06-4bcf-a49c-b3dd011f04c9').value }}
VERYFI_CLIENT_SECRET={{ lookup('community.general.bitwarden_secrets_manager', 'a065c524-4492-41c9-8bc5-b3dd01179196').value }}
VERYFI_API_KEY={{ lookup('community.general.bitwarden_secrets_manager', 'c2171194-7db1-411f-88d4-b3dd011791d0').value }}
VERYFI_USERNAME={{ lookup('community.general.bitwarden_secrets_manager', '3820cf3e-10c3-4bf9-94f3-b3dd0117921c').value }}
PARSIO_API_KEY={{ lookup('community.general.bitwarden_secrets_manager', '0c834b49-bf79-4df3-acf2-b2c60027c86f').value }}
PARSIO_WEBHOOK_SECRET={{ lookup('community.general.bitwarden_secrets_manager', '96ca68b0-e7ee-4f38-83e7-b2c60027d40e').value }}
GOOGLE_DOCUMENT_AI_KEY={{ lookup('community.general.bitwarden_secrets_manager', '3d54c485-7462-42b6-8b62-b2c60027bc0c').value }}
