YNAB_ACCESS_TOKEN={{ lookup('community.general.bitwarden_secrets_manager', 'afeb2fcb-9fee-45b4-9678-b3dd011792a0').value }}
YNAB_BUDGET_ID={{ lookup('community.general.bitwarden_secrets_manager', 'cb7d29e3-e378-4f8d-a7ed-b3dd011792ca').value }}
AUTH_TOKEN={{ lookup('community.general.bitwarden_secrets_manager', 'eb6bf37b-0025-4ed6-9951-b3dd011792f8').value }}
