
services:
  registry:
    container_name: registry
    image: distribution/distribution:edge
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - 5000:5000
    volumes:
      - /mnt/homelab-data/registry/data:/var/lib/registry:Z
      - ./registry/config.yml:/etc/distribution/config.yml:Z

  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin
    restart: 'unless-stopped'
    user: "1000:1000"
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./jellyfin/config:/config
      - /mnt/homelab-data/jellyfin/cache:/cache
      - /mnt/homelab-data/jellyfin/metadata:/metadata
      - type: bind
        source: /mnt/homelab-data/movies
        target: /media/movies
      - type: bind
        source: /mnt/homelab-data/shows
        target: /media/shows
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    # Optional - alternative address used for autodiscovery
    # environment:
    #   - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    # extra_hosts:
    #   - 'host.docker.internal:host-gateway'

  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    restart: unless-stopped
    user: "0:0"
    privileged: true
    volumes:
      - ./homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW

  traefik:
    container_name: traefik
    image: traefik:v3.6
    restart: unless-stopped
    user: "1000:1000"
    privileged: true
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - "./traefik/traefik.yml:/etc/traefik/traefik.yml"
      - "./traefik/letsencrypt:/letsencrypt:z"
    cap_add:
      - NET_BIND_SERVICE
    networks:
      - web

  tosh_io:
    container_name: tosh_io
    image: homelab:5000/tosh.io:latest
    restart: unless-stopped
    user: "1000:1000"
    expose:
      - "9292"
    volumes:
      - ./db/tosh.io:/usr/src/app/db:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
      - "traefik.http.routers.tosh_io.entrypoints=websecure"
      - "traefik.http.routers.tosh_io.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
      - "dev.dozzle.group=webapps"
    networks:
      - web

  price_history:
    container_name: price_history
    image: homelab:5000/price_history:latest
    restart: unless-stopped
    user: "1000:1000"
    expose:
      - "3000"
    volumes:
      - ./db/price_history:/usr/src/app/db:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.price_history.rule=Host(`price-history.tosh.io`)"
      - "traefik.http.routers.price_history.entrypoints=websecure"
      - "traefik.http.routers.price_history.tls.certresolver=letsencrypt_resolver"
      - "traefik.http.services.price_history.loadbalancer.server.port=3000"
      - "dev.dozzle.group=webapps"
    networks:
      - web
    env_file:
      - ../price_history/.env

  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    restart: unless-stopped
    user: "1000:1000"
    privileged: true
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
    ports:
      - 8081:8080
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true

networks:
  web:
    external: true
