podman_networks:
  - "web"

podman_data_dirs:
  - "{{ homelab_data_dir }}/pihole"
  - "{{ homelab_data_dir }}/jellyfin/config"
  - "{{ homelab_data_dir }}/jellyfin/cache"
  - "{{ homelab_data_dir }}/jellyfin/metadata"
  - "{{ homelab_data_dir }}/movies"
  - "{{ homelab_data_dir }}/shows"
  - "{{ homelab_data_dir }}/homeassistant/config"
  - "{{ homelab_data_dir }}/homepage/config"
  - "{{ homelab_data_dir }}/homepage/images"
  - "{{ homelab_data_dir }}/registry/data"
  - "{{ homelab_data_dir }}/traefik"
  - "{{ homelab_data_dir }}/dbs/price_history"
  - "{{ homelab_data_dir }}/dbs/bingo"
  - "{{ homelab_data_dir }}/dbs/household-chores"
  - "{{ homelab_data_dir }}/dbs/tosh.io"
  - "{{ homelab_data_dir }}/podman/storage"

podman_quadlets:
  - name: pihole
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/udp"
      - "53:53/tcp"
      - "8082:80"
    volumes:
      - "{{ homelab_data_dir }}/pihole:/etc/pihole:z"
    environment_files:
      - "{{ homelab_data_dir }}/environments/pihole.env"
    dns:
      - "8.8.8.8"
      - "8.8.4.4"

  - name: cloudflared
    container_name: cloudflared
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token {{ lookup('env', 'CLOUDFLARE_TUNNEL_TOKEN') }}
    networks:
      - web

  - name: jellyfin
    container_name: jellyfin
    image: jellyfin/jellyfin
    ports:
      - "8096:8096/tcp"
      - "7359:7359/udp"
    volumes:
      - "{{ homelab_data_dir }}/jellyfin/config:/config:z"
      - "{{ homelab_data_dir }}/jellyfin/cache:/cache"
      - "{{ homelab_data_dir }}/jellyfin/metadata:/metadata"
      - "{{ homelab_data_dir }}/movies:/media/movies"
      - "{{ homelab_data_dir }}/shows:/media/shows"

  - name: homeassistant
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    networks:
      - host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - "{{ homelab_data_dir }}/homeassistant/config:/config:z"
      - "/etc/localtime:/etc/localtime:ro"

  - name: homepage
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:latest
    privileged: true
    ports:
      - "8083:3000"
    volumes:
      - "{{ homelab_data_dir}}/homepage/config:/app/config:z"
      - "{{ homelab_data_dir}}/homepage/images:/app/public/images:z"
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
    environment:
      - PUID={{ local_user_id }}
      - PGID={{ local_user_id }}
      - HOMEPAGE_ALLOWED_HOSTS=homelab.local:8083

  - name: registry
    container_name: registry
    image: distribution/distribution:edge
    ports:
      - "5000:5000"
    volumes:
      - "{{ homelab_data_dir }}/registry/data:/var/lib/registry:Z"
      - "{{ homelab_data_dir }}/registry/config.yml:/etc/distribution/config.yml:Z"

  - name: traefik
    container_name: traefik
    image: traefik:v3.6.4
    privileged: true
    networks:
      - web
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
      - "{{ homelab_data_dir }}/traefik/traefik.yml:/etc/traefik/traefik.yml:Z"
    cap_add:
      - NET_BIND_SERVICE

  - name: dozzle
    container_name: dozzle
    image: amir20/dozzle:latest
    privileged: true
    volumes:
      - "/run/user/1000/podman/podman.sock:/var/run/docker.sock:z"
    ports:
      - "8081:8080"
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_ENABLE_SHELL=true

  - name: tosh_io
    container_name: tosh_io
    image: homelab.local:5000/tosh.io:latest
    networks:
      - web
    expose:
      - "9292"
    volumes:
      - "{{ homelab_data_dir }}/dbs/tosh.io:/usr/src/app/db:z"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tosh_io.rule=Host(`tosh.io`)"
      - "traefik.http.routers.tosh_io.entrypoints=web"
      - "traefik.http.services.tosh_io.loadbalancer.server.port=9292"
      - "dev.dozzle.group=webapps"

  - name: price_history
    container_name: price_history
    image: homelab.local:5000/price_history:latest
    networks:
      - web
    expose:
      - "3000"
    volumes:
      - "{{ homelab_data_dir }}/dbs/price_history:/rails/storage:z"
    environment_files:
      - "{{ homelab_data_dir }}/environments/price_history.env"
    userns: keep-id
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.price_history.rule=Host(`price-history.tosh.io`)"
      - "traefik.http.routers.price_history.entrypoints=web"
      - "traefik.http.services.price_history.loadbalancer.server.port=3000"
      - "dev.dozzle.group=webapps"

  - name: ynab_view
    container_name: ynab_view
    image: homelab.local:5000/ynab-view:latest
    networks:
      - web
    expose:
      - "4567"
    environment_files:
      - "{{ homelab_data_dir }}/environments/ynab_view.env"
    userns: keep-id
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ynab_view.rule=Host(`ynab-view.tosh.io`)"
      - "traefik.http.routers.ynab_view.entrypoints=web"
      - "traefik.http.services.ynab_view.loadbalancer.server.port=4567"
      - "dev.dozzle.group=webapps"

  - name: bingo
    container_name: bingo
    image: homelab.local:5000/bingo:latest
    networks:
      - web
    expose:
      - "3001"
    volumes:
      - "{{ homelab_data_dir }}/dbs/bingo:/rails/storage:z"
    environment_files:
      - "{{ homelab_data_dir }}/environments/bingo.env"
    userns: keep-id
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bingo.rule=Host(`bingo.tosh.io`)"
      - "traefik.http.routers.bingo.entrypoints=web"
      - "traefik.http.services.bingo.loadbalancer.server.port=3001"
      - "dev.dozzle.group=webapps"

  - name: household-chores
    container_name: household-chores
    image: homelab.local:5000/household-chores:latest
    networks:
      - web
    expose:
      - "4567"
    volumes:
      - "{{ homelab_data_dir }}/dbs/household-chores:/app/storage:z"
    environment_files:
      - "{{ homelab_data_dir }}/environments/household-chores.env"
    userns: keep-id
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.household-chores.rule=Host(`household-chores.tosh.io`)"
      - "traefik.http.routers.household-chores.entrypoints=web"
      - "traefik.http.services.household-chores.loadbalancer.server.port=4567"
      - "dev.dozzle.group=webapps"
