- name: Set unprivileged port start
  ansible.builtin.sysctl:
    name: net.ipv4.ip_unprivileged_port_start
    value: "{{ unprivileged_port_start }}"
    sysctl_set: yes
    state: present
    reload: yes
  become: yes

- name: Disable all sleep and suspend targets
  become: yes
  systemd:
    name: "{{ item }}"
    masked: yes
  loop:
    - sleep.target
    - suspend.target
    - hibernate.target
    - hybrid-sleep.target

- name: Enable linger for the podman user
  ansible.builtin.command: "loginctl enable-linger {{ local_user }}"
  become: yes
  args:
    creates: "/var/lib/systemd/linger/{{ local_user }}"

- name: Ensure systemd-resolved DNSStubListener is disabled
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: '^#?DNSStubListener='
    line: 'DNSStubListener=no'
    insertafter: '^\[Resolve\]'
  notify: Restart systemd-resolved
  become: yes

- name: Ensure systemd-resolved DNSStubListenerExtra is disabled
  ansible.builtin.lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: '^#?DNSStubListenerExtra='
    line: 'DNSStubListenerExtra=no'
    insertafter: '^DNSStubListener=no'
  notify: Restart systemd-resolved
  become: yes

- name: Configure resolv.conf for Host (bypass local loop for stability)
  ansible.builtin.copy:
    dest: /etc/resolv.conf
    content: |
      nameserver 8.8.8.8
      nameserver 8.8.4.4
      options edns0 trust-ad
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Flush handlers to restart systemd-resolved
  meta: flush_handlers

- name: Ensure DNS is allowed through the firewall
  become: true
  ansible.posix.firewalld:
    service: "dns"
    permanent: yes
    state: enabled
    immediate: yes
