---
- name: Ensure podman.socket is enabled and started for the user
  ansible.builtin.systemd:
    name: podman.socket
    scope: user
    enabled: true
    state: started
  register: podman_socket_result

- name: Ensure podman network 'web' exists
  containers.podman.podman_network:
    name: web
    state: present

- name: Ensure podman volumes/directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop: "{{ podman_shared_volumes }}"

- name: Set podman_sock path dynamically
  ansible.builtin.set_fact:
    podman_sock: "/run/user/{{ local_user_id }}/podman/podman.sock"

- name: Check if podman.sock exists
  ansible.builtin.stat:
    path: "{{ podman_sock }}"
  register: podman_sock_stat
  check_mode: no

- name: Allow insecure access on localhost registry for podman
  ansible.builtin.copy:
    src: "registries.conf"
    dest: "/home/{{ local_user }}/.config/containers/registries.conf"
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0644'
