---
- name: Install NFS server
  become: true
  dnf:
    name: nfs-utils
    state: present

- name: Create NFS share directory
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ local_user }}"
    group: "{{ local_user }}"
    mode: '0755'
  loop: "{{ nfs_share_paths }}"

- name: Configure NFS exports
  become: true
  lineinfile:
    path: /etc/exports
    line: "{{ item }} {{ nfs_network }}(rw,sync,no_subtree_check)"
    insertafter: EOF
  loop: "{{ nfs_share_paths }}"

- name: Enable and restart NFS server
  become: true
  service:
    name: nfs-server
    state: started
    enabled: true

- name: Ensure NFS is allowed through the firewall
  become: true
  firewalld:
    service: "nfs"
    permanent: yes
    state: enabled
    immediate: yes

